img {border: solid 5px black; width: 50%; }

body {background-color: #FFEFD5; }

main {width: 80%; margin: 0 auto;   }

header {text-align: center;   }

section {clear: both;   }

/* blahblahblah */


article {float: left;   }



p {color: #003300; font-size: 20px; font-family: Helvetica; vertical-align: top; text-align: left;   }

h1 {font-family: Helvetica; font-size: 38; font-weight: bold;   }

h2 {font-family: Helvetica; font-size: 38; font-weight: bold; font-style: italic;   }

h3 {font-family: helvetica; font-size: 24; font-style: italic;  }

iframe {float: center; border: solid 1px black; margin: 25px; padding: 25px; width: 80%; }

figcaption {font-family: Helvetica; font-size: 14px; font-style: italic;
}

footer {text-align: center; font-family: Times New Roman; font-size: 14px; font-style: italic;
}
